& {
  --bg-color-content: rgb(26, 28, 38);
  --bg-color-header: rgb(39, 41, 50);

  --bg-color-icon1: rgb(196, 196, 196);
  --bg-color-icon2: rgb(72, 74, 81);
  
  --bg-color-online: rgb(101, 239, 173);

  --text-color-white: rgb(255, 255, 255);
  --text-color-purple: rgb(140, 103, 247);
  --text-color-gray: rgb(143, 143, 143);
  --text-color-white8: rgba(255, 255, 255, 0.8);
  --text-color-gray-desc1: rgb(165, 165, 165);
  --text-color-gray-desc2: rgb(127, 127, 127);

  --border6: 6px;
  --border10: 10px;
  --border12: 12px;
  --border20: 20px;
  --border61: 61px;

  --width-header: 126px
}